In [4]:

import json

In [12]:


# Initialize empty lists to store the data from each file
user_data = []
business_data = []
review_data = []

# Load user data from 'yelp_academic_dataset_user.json'
with open('yelp_academic_dataset_user.json', 'r', encoding='utf-8') as user_file:
    for line in user_file:
        user_data.append(json.loads(line))

# Load business data from 'yelp_academic_dataset_business.json'
with open('yelp_academic_dataset_business.json', 'r', encoding='utf-8') as business_file:
    for line in business_file:
        business_data.append(json.loads(line))

# Load review data from 'yelp_academic_dataset_review.json'
with open('yelp_academic_dataset_review.json', 'r', encoding='utf-8') as review_file:
    for line in review_file:
        review_data.append(json.loads(line))

In [11]:

for i in range(100):
    print(business_data[i]['business_id'])
    print("\n")

Pns2l4eNsfO8kk83dixA6A


mpf3x-BjTdTEA3yCZrAYPw


tUFrWirKiKi_TAnsVWINQQ


MTSW4McQd7CbVtyjqoe9mw


mWMc6_wTdE0EUBKIGXDVfA


CF33F8-E6oudUQ46HnavjQ


n_0UpQx1hsNbnPUSlodU8w


qkRM_2X51Yqxk3btlwAQIg


k0hlBqXX-Bt0vf1op7Jr1w


bBDDEgkFA1Otx9Lfe7BZUQ


UJsufbvfyfONHeWdvAHKjA


eEOYSgkmpB90uNA7lDOMRA


il_Ro8jwPlHresjw9EGmBg


jaxMSoInw8Poo3XeMJt8lQ


0bPLkL0QhhPO5kt1_EXmNQ


MUTTqe8uqyMdBl186RmNeA


rBmpy_Y1UbBx8ggHlyb7hA


M0XSSHqrASOnhgbWDJIpQA


8wGISYjYkE2tSqn3cDMu8A


ROeacJQwBeh05Rqg7F6TCg


WKMJwqnfZKsAae75RMP6jA


qhDdDeI3K4jy2KyzwFN53w


kfNv-JZpuN6TVNSO6hHdkw


9OG5YkX1g2GReZM0AskizA


4iRzR7OaS-QaSXuvYxEGKA


PSo_C1Sfa13JHjzVNW6ziQ


noByYNtDLQAra9ccqxdfDw


tMkwHmWFUEXrC9ZduonpTg


QdN72BWoyFypdGJhhI5r7g


sqSqqLy0sN8n2IZrAbzidQ


fvWn8oXXwbj2l79cochZyw


Mjboz24M9NlBeiOJKLEd_Q


8sshLb4UU7emeUDvtJWnpA


kV_Q1oqis8Qli8dUoGpTyQ


w_AMNoI1iG9eay7ncmc67w


aPNXGTDkf-4bjhyMBQxqpQ


2xVsWBNFwZOxIOdd9Mwnww


mGFsPRHdE6SMV1gYQ6GzgQ


LcAozWCMLGjwRbokaJAKMg


fSCNwMtNNQY9QT69Cj9fiA


x1mhq4IpWctQOBM06dU8vg


ljxNT9p0y7YMPx0fcNBGig


lwItZ1Ck3KtpCgG4CPFmpQ


Kq51_lGAgAigqmENITTr-A


mglME3E7esPSpIF5bias8w


wghnIlMb_i5U46HMBGx9ig


JX4tUpd09YFchLBuI43lGw


lk9IwjZXqUMqqOhM774DtQ


bCBPXIVfVzBZBEpFu29dcg


ABxoFuzZy5mqQ8C5FJJajQ


Hwt3_mOEmU-t--ywcemnMg


REwfwz-_-CMQ7Np5UVi9Qg


5BmQX4UVJY19mMtafMg7JA


cVBxfMC4lp3DnocjYA3FHQ


0qNpTGTcqPwOLi2hADx4Xw


xM6LoUcnpDpMBzXs_7dXAg


txyXRytGjwOXvS8s4sc-WA


DQ7PyYlp2bX96WZa7TcaWQ


uI9XODGY_2_ieTE6xJ0myw


JgpnXv_0XhV3SfbfB50nxw


Si6LXSR9gvAbmgO5DzV2cw


seKihQKpGGnCeLuELRQPSQ


L_TT0BFmFwORAMaA83K54A


mjWvAkNqoA6Y5P03sDSzfA


qfWJmJ0g96eM_fWma3ja0g


uczmbBk5O3tYhGue13dCDg


n7AQvGvNHlmun3kqXeBKVQ


eYxGFkxo6m3SYGVTh5m2nQ


lOP3HxdUTaq0eXhwR_KC-w


KWA2qtdwVEkMpd5soSKaGA


gbN4RuUiiBxQ2GBFQ2p3Cw


B2qqjCl_BNNnXvWWfpFiLA


7PDi_iyik3jraDAzWwwR4Q


8rb-3VYXE37IZix4yOdskw


9Rww8yE6Dm4dSMEq09nwXg


aCDY7vXYMs54EbYuQScsnQ


-4dYswJy7SPcbcERvitmIg


mFTaYsRDyeFaY2NDLfSaAA


x9K0RfZaT_zlw6DklBDzjw


pJfh3Ct8iL58NZa8ta-a5w


cvP_vh_bOLbCY3eoY1Xw-A


7clCBgNbd-x2Wj96lZ6Mjw


ppFCk9aQkM338Rgwpl2F5A


NZ_bFJma7brQUfln5h1UAg


eMjnw_7wp-CscyNh6Lu0ZA


IDtLPgUrqorrpqSLdfMhZQ


sE6jSnvMts_MAn-b4OkMAw


YNjyv0gfOr2g8lbmUpTnKg


LhpPSrulqVeTyJeK2xydvQ


oaboaRBUgGjbo2kfUIKDLQ


-ZXYcCyDjj1QimnJyGtYtg


nUqrF-h9S7myCcvNDecOvw


vR9_bhoszcpXbB_APv6Xlw


RK6-cJ9hj53RzOlCBmpT-g


ZM46RDLXaFNo_z6t-j_L4w


pEm4xNCk8d0TF6A1gi-WDQ


J_ksUDPpzPwfTGtI4zTRnQ


knQ4vIgx-r85kjlWVVjcpQ


U2Tzy6J9aAAg9pzXsgdkvg


1MeIwdbTnZOBFCKOrgaxuw

In [4]:
import pandas as pd
business_json_path = 'yelp_academic_dataset_business.json'
df_b = pd.read_json(business_json_path, lines=True)

In [5]:
display(df_b)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [6]:
user_json_path = 'yelp_academic_dataset_user.json'
df_u = pd.read_json(user_json_path, lines=True)
display(df_u)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,23,2015-01-06 00:31:31,7,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,1,2016-06-14 07:20:52,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,4,2017-02-04 15:31:58,1,1,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2,2011-01-14 00:29:08,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2,2020-12-19 02:32:39,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0