In [46]:
import json 
import pandas as pd

In [66]:

def read_chunks(file, cols, chunk_size=500000):
    df = pd.read_json(
        f'/Users/ryounes/Documents/Feup/RecSNA_Project/yelp_academic_dataset_{file}.json', chunksize = chunk_size, lines=True)
    
    chunk_list = [chunk[cols] for chunk in df ]

    return pd.concat(chunk_list, ignore_index = True, join = 'outer', axis = 0)

In [50]:

business_json_path = '/Users/ryounes/Documents/Feup/RecSNA_Project/yelp_academic_dataset_business.json'
df_b = pd.read_json(business_json_path, lines=True)

In [67]:
df_u = read_chunks('user', ['user_id','name'])

In [68]:
df_u

                        user_id     name
0        qVc8ODYU5SZjKXVBgXdI7w   Walker
1        j14WgRoU_-2ZE1aw1dXrJg   Daniel
2        2WnXYQFK0hXEoTxPtV2zvg    Steph
3        SZDeASXq7o05mMNLshsdIA     Gwen
4        hA5lMy-EnncsH4JoR-hFGQ    Karen
...                         ...      ...
1987892  fB3jbHi3m0L2KgGOxBv6uw  Jerrold
1987893  68czcr4BxJyMQ9cJBm6C7Q     Jane
1987894  1x3KMskYxOuJCjRz70xOqQ  Shomari
1987895  ulfGl4tdbrH05xKzh5lnog  Susanne
1987896  wL5jPrLRVCK_Pmo4lM1zpA      Isa

[1987897 rows x 2 columns]